body {
    background-color: #ebfcfe;
}

#login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    align-items: center;
}

.title {
    color: #408f93;
}

h1.login {
    font-size: 80px;
    font-weight: light;
}

.content {
    font-size: 30px;
    color: #2f496a;
}

input.account {
    width: 380px;
    height: 50px;
    font-size: 32px;
    margin: 10px;
    text-align: center;
}

input.password {
    width: 200px;
    height: 50px;
    font-size: 32px;
    margin: 10px;
    text-align: center;
}

.border {
    border: 4px solid #409093;
    border-radius: 14px;
    border-style: outset;
}

#numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

#numpad button.large{
    width: 80px;
    height: 80px;
    font-size: 20px;
}

#numpad button.small{
    width: 40px;
    height: 40px;
    font-size: 20px;
}

button#return {
    align-self: flex-end;
    border: 4px solid red;
    border-radius: 5px;
    background-color: #e56f4d;
    border-style: outset;
    width: 200px;
    height: 80px;
    font-size: 25px;
    color: white;
}