body {
    margin: 0;
}

#wrapper {
    min-height: 100vh;
    background-color: #384047;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    width: 40vh;
    margin-top: 20vh;
    text-align: center;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

ul.tabs li {
    background: lightgray;
    color: #222;
    margin: 0;
    padding: 17px 25px;
    cursor: pointer;
    width: 50%;
    color: gray;
}

ul.tabs li.active {
    background: #ededed;
    color: black;
    border-top: 5px solid #2F558E;
    padding : 12px 25px 15px 25px;
}

input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid white;
    background-color: black;
    color: white;
    padding: 1vh 0.5vh;
}

input.error {
    border: 1px solid red;
}

input[type="radio"] {
    width: auto;
    margin: 0 1vh;
}

input:focus {
    outline: none;
}

label.error {
    position: absolute;
    left: 50%;
    transform: translateX(17vh);
    background-color: #2F558E;
    padding: 0.5vh;
    margin-left: 2vh;
    border-radius: 0.5vh;
}

button {
    box-sizing: bouter-box;
    width: 100%;
    margin-top: 2vh;
    height: 7vh;
    font-size: 1.7rem;
    color: white;
    background-color: #2F558E;
    border: none;
}

.tab-content {
    text-align: left;
}

.tab-content.active {
    background-color: #111317;
    color: white;
    padding: 3vh 3vh;
    display: flex;
    flex-direction: column;
}

.tab-content.active div {
    margin-top: 2.5vh;
    margin-bottom: 0.5vh;
}

#gender-container {
    display: flex;
}

img {
    background: none;
    position: absolute;
    height: 2.5vh;
    left: 50%;
    margin-top: 0.5vh;
    transform: translateX(13vh);
}

.hidden {
    display: none;
}

.show {
    display: inline-block;
}

.noBackground {
    background: none !important;
}

.invalidCredentials {
    color: red;
}