#content-wrapper {
    background: lightgray;
    font-family: serif;
}

#title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#profile {
    display: flex;
    align-items: center;
}

#profile-img {
    height: 300px;
}

.course-number {
    color: blue;
    text-decoration: underline;
}

#extracurriculars-wrapper {
    background-color: gray;
}

#extra-title {
    font-size: 2em;
    font-weight: bold;
    color: blue;
}