body {
    margin: 0;
}

.wrapper {
    background-color: #e5ffff;
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: center;
}

.container {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#status {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
}

#progress {
    display: flex;
    flex-direction: column;
    align-items: center;
}

progress {
    position: relative;
    left: 50%;
    transform: translateX(-38%);
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #e5ffff;
    border-radius: 5vw;
    border: 2px solid #377e7f;
    height: 2.5vw;
    width: 15vw;
}

progress::-webkit-progress-value {
    background-color: #377e7f;
    border-radius: 5vw;
}

#score-point {
    text-align: center;
    color: #377e7f;
    font-size: 3vw;
    font-weight: bolder;
}

#question {
    width: 100%;
    text-align: left;
    font-size: 3.3vw;
    font-weight: 900;
    color: #377e7f;
}

#choices {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

#choiceContainer {
    width: 100%;
    border-radius: 1vw;
}

.choiceIndex {
    position: relative;
    font-size: 2vw;
    font-weight: 900;
    background-color: #377e7f;
    border-radius: 1vw;
    border: none;
    color: white;
    height: 4vw;
    width: 5vw;
    z-index: 1;
}

.choiceText {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.5vw;
    text-align: left;
    margin: 0;
    padding-left: 5.5vw;
    height: 4vw;
    border-radius: 1vw;
    background-color: white;
    border: 0;
}

.choiceText:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 2px rgba(46, 229, 157, 0.4);
}